{% extends template_path %}

{% block id %}{{ id }}{% endblock %}
{% block label %}<label for="{{ id }}_code">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olh-field-content code">
        <div class="CodeMirror-all">
            {% if change %}
                <select name="{{ name }}[mode]" class="change-mode no-selectize">
                    {% for k, m in modes %}
                        <option value="{{ k }}"{{ k == val.mode ? ' selected="selected"' : '' }}>{{ m }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="hidden" name="{{ name }}[mode]" value="{{ val.mode }}" class="change-mode"/>
            {% endif %}

            <textarea name="{{ name }}[code]" id="{{ id }}_code" rows="{{ rows }}"{{ readonly ? ' readonly' : '' }} class="code">{{ val.code }}</textarea>
        </div>
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
